#inputCMD {
    all:unset;
    background-color: red;
    border: 0;
    width:0;
}

#suggestionTerminal {
    color:gray;
}

.inputContainer {
    background-color: rgb(164, 203, 234);
}